* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

.navbar {
  background-color: white;
  font-size: 15px;
  line-height: 20px;
  padding: 0 16px;
  position: fixed;
  z-index: 1;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  list-style: none;
  padding: 25px 16px;
  cursor: pointer;
}

.navbar li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.logo {
  padding: 13px 16px;
  font-weight: bold;
  font-size: 25px;
}
.menu {
  display: flex;
}

.menu li:hover,
.logo:hover {
  background-color: gainsboro;
}

.header {
  background: url("./asset/img/mac.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.banner-icon {
  position: absolute;
  bottom: 35px;
  left: 45px;
  color: #616161;
  cursor: pointer;
  font-size: 20px;
}

.banner-icon i:hover {
  color: #cccccc;
}
.wrapper-title {
  color: white;
  margin-left: 45px;
}

.title {
  font-size: 64px;
  margin-top: 20px;
  margin-bottom: 53px;
}

.description {
  font-size: 18px;
  margin-bottom: 37px;
}

.banner-btn {
  padding: 15px 30px;
  background-color: #ffffff;
  font-size: 18px;
  margin-bottom: 100px;
}

.banner-btn:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.about-section {
  margin-top: 130px;
  line-height: 30px;
}

.about-title {
  text-align: center;
  line-height: 50px;
}

.d-grid {
  margin: 0 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
}

.about-card {
  width: 357px;
  text-align: center;
}

.icon {
  font-size: 60px;
  margin-bottom: 20px;
}

.design-section {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #f1f1f1;
  padding: 128px 30px;
}

.design-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.design-btn {
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border: none;
}

.design-btn:hover {
  background-color: #cccccc;
  color: #000000;
}

.design-img {
  border-radius: 8px;
}

.team-card {
  width: 350px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
}

.team-img {
  width: 100%;
}

.team-img:hover {
  opacity: 0.5;
  cursor: pointer;
}
.card-content {
  padding: 10px;
}

.card-content h1 {
  font-size: 28px;
  padding-bottom: 10px;
}

.card-content h3 {
  font-size: 18px;
  color: gray;
}

.team-btn {
  margin-top: 5px;
  border: none;
  width: 100%;
  padding: 10px 8px;
  font-size: 17px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.team-btn:hover {
  background-color: #cccccc;
}

.number-section {
  margin-top: 130px;
  background-color: #616161;
  display: flex;
  justify-content: space-around;
  padding: 70px 16px;
  color: white;
}

.number-content {
  text-align: center;
  line-height: 40px;
}

.number-content h2 {
  font-size: 36px;
}

.work-img {
  width: 350px;
}

.work-img:hover {
  opacity: 0.5;
}

footer {
  background-color: #000000;
  padding: 64px 0;
}

footer div {
  line-height: 40px;
  text-align: center;
  color: white;
}

.footer-btn {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  background-color: white;
  padding: 5px 16px;
  margin-bottom: 20px;
}

.footer-btn:hover {
  background-color: #cccccc;
}

.footer-icon {
  font-size: 25px;
  cursor: pointer;
}
.footer-icon i:hover {
  color: #616161;
}
